/* ------ GOOGLE FONTS ------ */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* ----- NAVBAR ----- */
#navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

#navigation h1 {
    width: 80%;
    margin: 20px auto;
    padding-right: 250px;
}

/* ----- MAIN ELEMENTS ----- */
main {
    width: 80%;
    margin: 135px auto 0 auto;
    padding-right: 250px;
}

.girdContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card {
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
    transition: 0.6s;
}

.favoriteCard {
    background: yellow;
}

.bg-img {
    background-size: cover;
    min-height: 180px;
    background-position: center;
    background-color: #ccc;
}

.content {
    padding: 15px;
}

.readMore {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
}

.favButton, .removeFavButton {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
    display: block;
    margin-top: 20px;
    transition: 0.3s;
}

.removeFavButton:hover {
    background-color: #ff0000;
    color: #fff;
}

/* ----- SIDEBAR ----- */
.sidebar {
    height: 75%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 135px;
    right: 0;
    background-color: #2d2d2d;
    color: #fff;
    overflow-x: hidden;
    padding: 15px;
}

/* ----- FOOTER ----- */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
}

/* ----- MEDIA QUERIES ----- */

@media only screen and (max-width: 1556px) {
    main, #navigation h1 {
        width: 60%;
    }
    .girdContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 833px) {
    main, #navigation h1 {
        font-size: 25px;
        width: 80%;
        padding-right: 0;
    }

    .sidebar {
        position: relative;
        width: 80%;
        margin: 50px auto 85px auto;
        overflow-x: auto;
        top: auto;
        z-index: initial;
    }
}

@media only screen and (max-width: 635px) {
    .girdContainer {
        grid-template-columns: 1fr;
    }
}